/.idea/*
/until-the-curtain-falls.lock

/packs/abilities
/packs/classes
/packs/homelands
/packs/lifestyles
/packs/backgrounds
/packs/gear
/packs/spells
/packs/company_abilities
/packs/company_upgrades

/styles/**/*.css*

*.db