<div class="until-the-curtain-falls">
    <div class="flex-vertical chat-container">
        <label class="black-label-large-center">{{localize action_label}}</label>
        <span class="gray-label-small-center">{{localize position_label}} {{localize "UTCF.Action.Position.Label"}} | {{localize effect_label}} {{localize "UTCF.Action.Effect.Label"}}</span>
        <div class="roll-result-label-container">{{action-roll-result action_result}}</div>
        <p class="roll-result-description">{{{localize action_result_description}}}</p>
        <div class="roll-result-label-container">{{roll-result-dice rolls action_result zero_mode}}</div>
    </div>
</div>