<form class="{{cssClass}} actor-sheet" autocomplete="off">

  <section id="character-{{_id}}-name-alias" class="flex-horizontal-spaced">

    <div>
      <img src="{{img}}" data-edit="img" title="{{name}}" class="portrait" />
    </div>

    <div class="flex-one">
      <table>
        <tbody>
          <tr>
            <td>
              <label class="black-label-large-left" for="character-{{_id}}-name">{{localize "UTCF.Name"}}</label>
              <input type="text" id="character-{{_id}}-name" class="name" name="name" value="{{name}}">
            </td>
            <td>
              <label class="black-label-large-left" for="character-{{_id}}-alias">{{localize "UTCF.Epithet"}}</label>
              <input type="text" id="character-{{_id}}-epithet" class="epithet" name="system.epithet" value="{{system.epithet}}">
            </td>
          </tr>
          <tr>
            <td >
              <label class="black-label-large-left">{{localize "UTCF.Class.Label"}}</label>
              {{#ifItemsContainsItemWithType "class"}}
                {{item-card this show_left_widget=false show_description=false}}
              {{else}}
                <div class="item-name gray-label-small-left"><a class="item-add-popup" data-distinct="true" data-item-type="class">{{localize "UTCF.Class.AddLabel"}}</a></div>
              {{/ifItemsContainsItemWithType}}
            </td>
            <td>
              <label class="black-label-large-left">{{localize "UTCF.Homeland.Label"}}</label>
              {{#ifItemsContainsItemWithType "homeland"}}
                {{item-card this show_left_widget=false show_description=false}}
              {{else}}
                <div class="item-name gray-label-small-left"><a class="item-add-popup" data-distinct="true" data-item-type="homeland">{{localize "UTCF.Homeland.AddLabel"}}</a></div>
              {{/ifItemsContainsItemWithType}}
            </td>
          </tr>
          <tr>
            <td class="vcenter">
              <label class="black-label-large-left">{{localize "UTCF.Company.Label"}}</label>
              {{#if system.company_id}}
                {{actor-card system.company_id}}
              {{else}}
                <div class="item-name gray-label-small-left"><a class="company-add-popup">{{localize "UTCF.Company.Add"}}</a></div>
              {{/if}}
            </td>
             <td>
              <label class="black-label-large-left">{{localize "UTCF.Background.Label"}}</label>
              {{#ifItemsContainsItemWithType "background"}}
                {{item-card this show_left_widget=false show_description=false}}
              {{else}}
                <div class="item-name gray-label-small-left"><a class="item-add-popup" data-distinct="true" data-item-type="background">{{localize "UTCF.Background.AddLabel"}}</a></div>
              {{/ifItemsContainsItemWithType}}
            </td>
          </tr>
          <tr>
            <td colspan="2" class="vcenter">
              {{> "systems/until-the-curtain-falls/templates/parts/coins.html" actor=actor}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  {{!-- Stress and Trauma --}}
  <table class="stress-trauma-table">
    <thead id="character-{{_id}}-stress-trauma">
      <th colspan="10" id="character-{{_id}}-stress-container" class="big-teeth-container character-stress">
        {{#multiboxes system.stress.value}}
        <div id="character-{{_id}}-stress" class="big-teeth-wrap">
          <label class="black-label-large-center" for="character-{{_id}}-stress-0">{{localize system.stress.name}}</label>
          <div id="character-{{_id}}-stress-teeth" class="big-teeth">
            <input type="radio" id="character-{{_id}}-stress-0" name="system.stress.value" value="0">
            {{#times_from_1 system.stress.max}}
              <input type="radio" id="character-{{../_id}}-stress-{{this}}" name="system.stress.value" value="{{this}}">
              <label for="character-{{../_id}}-stress-{{this}}"></label>
            {{/times_from_1}}
          </div>
        </div>
        {{/multiboxes}}
      </th>

      <th colspan="10" id="character-{{_id}}-trauma-container" class="small-teeth-container">
        {{#multiboxes system.trauma.value}}
        <div id="character-{{_id}}-trauma" class="small-teeth-wrap">
          <label class="black-label-large-center" for="character-{{_id}}-trauma-counter-0">{{localize system.trauma.name}}</label>
          <div id="character-{{_id}}-trauma-teeth" class="small-teeth">
            <input type="radio" id="character-{{_id}}-trauma-counter-0" name="system.trauma.value" value="0">

            {{#times_from_1 system.trauma.max}}
              <input type="radio" id="character-{{../_id}}-trauma-counter-{{this}}" name="system.trauma.value" value="{{this}}">
              <label for="character-{{../_id}}-trauma-counter-{{this}}"></label>
            {{/times_from_1}}
          </div>
        </div>
        {{/multiboxes}}
      </th>

      <td class="td-fill-black"></th>

      <th colspan="10" id="character-{{_id}}-physical-trauma-container" class="small-teeth-container">
        {{#multiboxes system.physical_trauma.value}}
        <div id="character-{{_id}}-physical-trauma" class="small-teeth-wrap">
          <label class="black-label-large-center" for="character-{{_id}}-physical-trauma-counter-0">{{localize "UTCF.PhysicalTrauma"}}</label>
          <div id="character-{{_id}}-physical-trauma-teeth" class="small-teeth">
            <input type="radio" id="character-{{_id}}-physical-trauma-counter-0" name="system.physical_trauma.value" value="0">
            <input type="radio" id="character-{{../_id}}-physical-trauma-counter-1" name="system.physical_trauma.value" value="1">
            <label for="character-{{../_id}}-physical-trauma-counter-1"></label>
          </div>
        </div>
        {{/multiboxes}}
      </th>
    </thead>
    {{trauma_descriptions system.trauma.value}}
  </table>
  

  {{!-- Harm, Healing and Armor --}}
  <table class="harm-armor">
    <thead>
      <th colspan="13"><label class="black-label-large-center">{{localize "UTCF.Harm.Label"}}</label></th>
      <th colspan="3"><label class="black-label-large-center">{{localize "UTCF.Armor"}}</label></th>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" class="vcenter"><div class="gray-label-small-left">{{localize "UTCF.Harm.Deadly.Label"}}</div></td>
        <td colspan="3" class="vcenter"><div class="gray-label-small-center">{{ifThen (gt system.physical_trauma.value 0) (localize "UTCF.Harm.Deadly.EffectDeath") (localize "UTCF.Harm.Deadly.EffectTrauma")}}</div></td>
        <td colspan="6">
          <input type="text" id="character-{{_id}}-harm-4-1" name="system.harm.deadly.one" value="{{system.harm.deadly.one}}">
        </td>
        <td class="td-fill-black"></td>
        <td colspan="2" id="character-{{_id}}-armor-uses" class="vcenter">
          <div class="gray-label-small-left">
            <label for="character-{{_id}}-armor-uses-armor">{{localize "UTCF.Armor"}}</label>
          </div>
        </td>
        <td id="character-{{_id}}-armor-uses">
          <input id="character-{{_id}}-armor-uses-armor" type="checkbox" name="system.armor-uses.armor" data-item-name="Armor" class="use-armor" {{checked system.armor-uses.armor}}>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="vcenter"><div class="gray-label-small-left">{{localize "UTCF.Harm.Severe.Label"}}</div></td>
        <td colspan="3" class="vcenter"><div class="gray-label-small-center">{{localize "UTCF.Harm.Severe.Effect"}}</div></td>
        <td colspan="6">
          <input type="text" id="character-{{_id}}-harm-3-1" name="system.harm.severe.one" value="{{system.harm.severe.one}}">
        </td>
        <td class="td-fill-black"></td>
        <td colspan="2" class="vcenter">
          <div class="gray-label-small-left">
            <label for="character-{{_id}}-armor-uses-heavy">{{localize "UTCF.Load.Heavy"}}</label>
          </div>
        </td>
        <td>
          <input id="character-{{_id}}-armor-uses-heavy" type="checkbox" name="system.armor-uses.heavy" data-item-name="Heavy armor" class="use-armor" {{checked system.armor-uses.heavy}}>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="vcenter"><div class="gray-label-small-left">{{localize "UTCF.Harm.Moderate.Label"}}</div></td>
        <td colspan="3" class="vcenter"><div class="gray-label-small-center">{{localize "UTCF.Harm.Moderate.Effect"}}</div></td>
        <td colspan="3">
          <input type="text" id="character-{{_id}}-harm-2-1" name="system.harm.medium.one" value="{{system.harm.medium.one}}">
        </td>
        <td colspan="3">
          <input type="text" id="character-{{_id}}-harm-2-2" name="system.harm.medium.two" value="{{system.harm.medium.two}}">
        </td>
        <td class="td-fill-black"></td>
        <td colspan="2" class="vcenter">
          <div class="gray-label-small-left">
            <label for="character-{{_id}}-armor-uses-special">{{localize "UTCF.Special"}}</label>
          </div>
        </td>
        <td>
          <input id="character-{{_id}}-armor-uses-special" type="checkbox" name="system.armor-uses.special" disabled="true" {{checked system.armor-uses.special}}>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="vcenter"><div class="gray-label-small-left">{{localize "UTCF.Harm.Lesser.Label"}}</div></td>
        <td colspan="3" class="vcenter"><div class="gray-label-small-center">{{localize "UTCF.Harm.Lesser.Effect"}}</div></td>
        <td colspan="3">
          <input type="text" id="character-{{_id}}-harm-1-1" name="system.harm.light.one" value="{{system.harm.light.one}}">
        </td>
        <td colspan="3">
          <input type="text" id="character-{{_id}}-harm-1-2" name="system.harm.light.two" value="{{system.harm.light.two}}">
        </td>
        <td class="td-fill-black"></td>
      </tr>
    </tbody>
  </table>




  {{!-- Abilities, Spells, Loadout, Attributes --}}
  <section class="flex-horizontal">

    <div class="tab-content flex-vertical">

      {{!-- Nav menu --}}
      <nav class="tabs flex-horizontal">
        <a class="item black-label-large-center" data-tab="abilities">{{localize "UTCF.Ability.LabelPlural"}}</a>
        <a class="item black-label-large-center" data-tab="spells">{{localize "UTCF.Spell.LabelPlural"}}</a>
        <a class="item black-label-large-center" data-tab="loadout">{{localize "UTCF.Loadout"}}</a>
        <a class="item black-label-large-center" data-tab="character-notes">{{localize "UTCF.Notes"}}</a>
        {{!-- Effects tab is broken and may not be needed --}}
        {{#if false}}
          <a class="item black-label-large-center" data-tab="effects">{{localize "UTCF.Effects"}}</a>
        {{/if}}
        {{#if isGM}}
          <a class="item black-label-large-center" data-tab="all-character-items">{{localize "UTCF.AllItems"}}</a>
        {{/if}}
      </nav>

      {{!-- Abilities --}}
      <div id="character-{{_id}}-abilities" class="tab flex-vertical abilities" data-tab="abilities">
        <div class="black-label-small-left">
          <a class="ability-add-popup" data-class-shortname="{{system.playbook}}">{{localize "UTCF.Ability.Add"}}  <i class="fas fa-plus-square"></i></a>
        </div>

        <div id="character-{{_id}}-abilities-list">
          {{#each items as |item id|}}
            {{#if (eq item.type "ability")}}
              {{item-card item}}
            {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Spells --}}
      <div id="character-{{_id}}-spells" class="tab flex-vertical spells" data-tab="spells">
        <div class="black-label-small-left">
          <a class="item-add-popup" data-item-type="spell">{{localize "UTCF.Spell.Add"}}  <i class="fas fa-plus-square"></i></a>
        </div>

        <div id="character-{{_id}}-spells-list">
          {{#each items as |item id|}}
            {{#if (eq item.type "spell")}}
              {{item-card item}}
            {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Owned Items Tab --}}
      <div id="character-{{_id}}-loadout" class="tab flex-vertical loadout" data-tab="loadout">
        <div class="black-label-small-left flex-horizontal-spaced">
           <a class="item-add-popup" data-item-type="gear">{{localize "UTCF.AddItem"}}  <i class="fas fa-plus-square"></i></a>
           <p class="{{ifThen (gt system.loadout system.max_load) 'overmax' '' }}">
            {{system.loadout}}/{{system.max_load}}
            {{#if (gte system.loadout system.encumbered_threshold)}}
                <i class="fa-solid fa-circle-exclamation encumbered" data-tooltip-direction="RIGHT" data-tooltip="{{localize UTCF.Load.Encumbered.Tooltip}}"></i>
            {{/if}}
          </p>
           <div class="dropdown">
             <select name="system.selected_load_level" class="loadout">
               {{selectOptions system.load_levels selected=system.selected_load_level localize=true}}
             </select>
           </div>
        </div>
        <div>
          {{!-- Display armor and gear tied to abilities first --}}
          {{#each items as |item id|}}
          {{#if (eq item.type "gear")}}
            {{#if item.system.add_list_ignore}}
              {{item-card item}}
            {{/if}}
          {{/if}}
          {{/each}}
          {{#each items as |item id|}}
          {{#if (eq item.type "gear")}}
            {{#unless item.system.add_list_ignore}}
              {{item-card item}}
            {{/unless}}
          {{/if}}
          {{/each}}
        </div>
      </div>

      <div class="tab flex-vertical" data-tab="character-notes">
        <div class="black-label-small-left">
          <p>{{localize "UTCF.Notes"}}</p>
        </div>
        <textarea rows="13" name="system.description">{{{system.description}}}</textarea>
      </div>

      {{!-- Active Effects --}}
      <div id="character-{{_id}}-effects" class="tab effects flex-vertical" data-tab="effects">
        <div class="black-label-small-left">
          <p>{{localize "UTCF.Effects"}}</p>
        </div>
        {{> "systems/until-the-curtain-falls/templates/parts/active-effects.html"}}
      </div>

      {{!-- Full Item List --}}
      <div class="tab flex-vertical" data-tab="all-character-items">
        <div class="black-label-small-left">
          <p><label>{{localize "UTCF.AllItems"}}</label></p>
        </div>
        {{#each items as |item id|}}
          <div class="all-character-items">
            {{item-card item show_left_widget=false show_description=false}}
          </div>
        {{/each}}
      </div>

    </div>
    {{!-- Attributes --}}
    {{> "systems/until-the-curtain-falls/templates/parts/attributes.html" actor=actor}}
  </section>

</form>
