<form class="{{cssClass}} actor-sheet" autocomplete="off">
	<div class="flex-horizontal-spaced">
		<div>
			<img src="{{img}}" data-edit="img" title="{{name}}" class="portrait"/>
		</div>
		<div class="flex-vertical flex-one">
			<label class="black-label-large-left" for="character-{{_id}}-name">{{localize "UTCF.Name"}}</label>
			<input type="text" id="character-{{_id}}-name" class="name" name="name" value="{{name}}">
		</div>
	</div>
	<label for="character-{{_id}}-short-description" class="black-label-large-center">Short description</label>
	<input type="text" id="character-{{_id}}-short-description" name="system.description_short" value="{{system.description_short}} ">
	<label for="character-{{_id}}-description" class="black-label-large-center">{{localize "UTCF.Description"}}</label>
	{{editor system.description target="system.description" button=true editable=editable}}
	<label for="character-{{_id}}-notes" class="black-label-large-center">Notes</label>
	{{editor system.notes target="system.notes" button=true editable=editable}}
</form>
