<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img src="{{img}}" data-edit="img" title="{{name}}"/>
        <h1 class="charname">
          <input name="name" type="text" value="{{name}}" placeholder="{{localize 'UTCF.Name'}}"/>
        </h1>
        <strong class="item-shortname">{{system.shortname}}</strong>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body flex">
      {{editor system.description target="system.description" button=true editable=editable}}
    </section>
    <div class="flex-vertical">
      <label class="label-stripe">{{localize "UTCF.Ability.ClassesLabel"}}</label>
      {{#if system.classes}}
        {{list-ability-classes}}
      {{/if}}
      {{#if isGM}}
        <div class="label-stripe">{{localize "UTCF.Logic"}}</div>
        <textarea name="system.logic">{{{system.logic}}}</textarea>
        <div class="label-stripe">{{localize "UTCF.Effects"}}</div>
        <div id="effects">{{> "systems/until-the-curtain-falls/templates/parts/active-effects.html"}}</div>
      {{/if}}
    </div>
</form>
