<form class="{{cssClass}} item" autocomplete="off">
  {{item-sheet-header this}}

  <section class="flex-vertical-spaced">
    <label class="black-label-small-left">{{localize "UTCF.Description"}}</label>
    <div class="item-editor-padded">{{editor system.description target="system.description" button=true editable=editable}}</div>
    

    <label class="black-label-small-left">{{localize "UTCF.Attribute.LabelPlural"}}</label>
    <table class="class-skills">
      {{#each system.base_skills}}
        {{#if this.value}}
        <tr>
          <td class="vcenter">
            <div class="gray-label-small-left flex-horizontal-spaced">
              {{localize this.label}}
              <i class="tooltip fas fa-question-circle"><span class="tooltip-text">{{localize this.tooltip}}</span></i>
            </div>
          </td>
          <td>
            {{#times_from_1 this.value}}
              <i class="fas fa-circle">
            {{/times_from_1}}
          </td>
        </tr>
        {{/if}}
      {{/each}}
    </table>

    <label class="black-label-small-left">{{localize "UTCF.Ability.LabelPlural"}}</label>
    {{#if system.abilities}}
      <div class="class-abilities">
        {{#each system.abilities as |ability|}}
          {{item-card ability show_left_widget=false show_delete_widget=false show_post_widget=false show_description=false}}
        {{/each}}
      </div>
    {{/if}}

    {{#if isGM}}
      <div class="black-label-small-left">{{localize "UTCF.Logic"}}</div>
      <textarea name="system.logic">{{{system.logic}}}</textarea>
      <div class="black-label-small-left">{{localize "UTCF.Effects"}}</div>
      <div id="effects">{{> "systems/until-the-curtain-falls/templates/parts/active-effects.html"}}</div>
    {{/if}}
  </section>

</form>