<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
      <img src="{{img}}" data-edit="img" title="{{localize system.name}}"/>
      <h1 class="charname"><input name="name" type="text" value="{{localize system.name}}" placeholder="{{localize system.name}}"/></h1>
      <strong class="item-shortname">{{system.shortname}}</strong>
  </header>

  <section class="flex-vertical">
    <label class="label-stripe">{{localize "UTCF.Description"}}</label>
    {{editor system.description target="system.description" button=true editable=editable}}

    <label class="label-stripe">{{localize "UTCF.Ability.LabelPlural"}}</label>
    {{list-class-abilities}}

    {{#if isGM}}
      <div class="label-stripe">{{localize "UTCF.Logic"}}</div>
      <textarea name="system.logic">{{{system.logic}}}</textarea>
      <div class="label-stripe">{{localize "UTCF.Effects"}}</div>
      <div id="effects">{{> "systems/until-the-curtain-falls/templates/parts/active-effects.html"}}</div>
    {{/if}}
  </section>

</form>