<form class="{{cssClass}}" autocomplete="off">
  {{item-sheet-header this}}
  {{!-- Sheet Body --}}
  <section class="sheet-body flex-vertical">
    <label class="black-label-small-left">{{localize "UTCF.Description"}}</label>
    {{editor system.description target="system.description" button=true editable=editable}}
    {{#if isGM}}
      <div class="black-label-small-left">{{localize "UTCF.Logic"}}</div>
      <textarea name="system.logic">{{{system.logic}}}</textarea>
      <div class="black-label-small-left">{{localize "UTCF.Effects"}}</div>
      <div id="effects">{{> "systems/until-the-curtain-falls/templates/parts/active-effects.html"}}</div>
    {{/if}}
  </section>
</form>
