<form class="{{cssClass}} item-sheet" autocomplete="off">
    {{item-sheet-header this}}

    <section class="sheet-body flex-vertical-spaced">
        <label class="black-label-small-left">{{localize "UTCF.Description"}}</label>
        <div>
            {{editor system.description target="system.description" button=true editable=editable}}
        </div>

        <label class="black-label-small-left">{{localize "UTCF.Spell.Cost"}}</label>
        <input type="number" name="system.stress" value="{{system.stress}}">
    </section>

</form>