/*
*  Elements that can be changed will hint this by dimming and fading a little on hover
*/
/*
 * Toothradio. Some (eg trauma) are not changeable, hence the option.
 */
/*
 * Custom Radio
 */
/*
 * Custom Radio Squared
 */
/*
 * Checkboxes underscored.
 */
/*
 * Create Clock
 */
/*
 * Turf Block
 */
/*
 * Toothradio single elements
 */
/*
 * Custom Radio Round
 */
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/Kirsty.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Kirsty";
  src: url("assets/fonts/Kirsty/KirstyItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-Italic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Crimson Text";
  src: url("assets/fonts/CrimsonText/CrimsonText-SemiBoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: italic;
}
.chat-label {
  background-color: #191813;
  font-family: Kirsty, serif;
  color: #EEEFFF;
  font-size: 21px;
  text-align: center;
  padding: 0px 5px;
  height: 30px !important;
  text-transform: capitalize;
}

.chat-label-small {
  background-color: #999;
  color: #191813;
  font-size: small;
  text-align: center;
  padding: 3px 5px;
  height: 20px !important;
}

.label-stripe-chat {
  text-transform: uppercase;
  background-color: #191813;
  color: #EEEFFF;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
  margin: 0;
}

.label-stripe-chat-small {
  text-transform: capitalize;
  background-color: #999;
  color: #191813;
  margin-bottom: 10px;
  position: relative;
  padding-top: 3px;
  display: flex;
  font-weight: bold;
}

.blades-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
}
.blades-die-tooltip .die.critical-success {
  color: #12a012;
}
.blades-die-tooltip .die.success {
  color: #008000;
}
.blades-die-tooltip .die.partial-success {
  color: #04578f;
}
.blades-die-tooltip .die.failure {
  color: red;
}

.items-to-add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
.items-to-add input[type=radio],
.items-to-add input[type=checkbox] {
  display: none;
}
.items-to-add input[type=radio]:checked + label,
.items-to-add input[type=checkbox]:checked + label {
  font-weight: bold;
}
.items-to-add .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}
.items-to-add .tooltip:hover .tooltiptext {
  visibility: visible;
}

.until-the-curtain-falls {
  font-family: "Crimson Text", serif;
}
.until-the-curtain-falls form {
  background-color: white;
  padding: 0px;
  border: solid 5px #191813;
}
.until-the-curtain-falls .tab[data-tab] {
  display: none;
}
.until-the-curtain-falls .tab[data-tab].active {
  display: block;
}
.until-the-curtain-falls .flex-horizontal-spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.until-the-curtain-falls .flex-horizontal {
  display: flex;
  flex-direction: row;
}
.until-the-curtain-falls .flex-vertical {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.until-the-curtain-falls .black-label-large-center {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  justify-content: center;
  padding: 2px 5px;
  min-height: 30px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  display: flex;
}
.until-the-curtain-falls .black-label-large-left {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 21px;
  padding: 2px 5px;
  min-height: 30px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  display: flex;
}
.until-the-curtain-falls .gray-label-large {
  background-color: #999;
  color: #191813;
  font-size: 21px;
  justify-content: center;
  padding: 2px 5px;
  min-height: 30px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  display: flex;
}
.until-the-curtain-falls .black-label-small-center {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 15px;
  justify-content: center;
  padding: 2px 5px;
  min-height: 21px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  display: flex;
}
.until-the-curtain-falls .black-label-small-left {
  background-color: #191813;
  color: #EEEFFF;
  font-size: 15px;
  padding: 2px 5px;
  min-height: 21px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  display: flex;
}
.until-the-curtain-falls .gray-label-small-center {
  background-color: #999;
  color: #191813;
  font-size: 15px;
  justify-content: center;
  padding: 2px 5px;
  min-height: 21px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  display: flex;
}
.until-the-curtain-falls .gray-label-small-left {
  background-color: #999;
  color: #191813;
  font-size: 15px;
  padding: 2px 5px;
  min-height: 21px !important;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  display: flex;
}
.until-the-curtain-falls .description {
  font-style: italic;
}
.until-the-curtain-falls table {
  background-color: transparent;
  table-layout: fixed;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}
.until-the-curtain-falls table thead {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.until-the-curtain-falls table thead th {
  padding: 0;
  margin: 0;
}
.until-the-curtain-falls table td {
  padding: 5px;
}
td .until-the-curtain-falls table .vcenter {
  vertical-align: center;
}
.until-the-curtain-falls table input[type=text] {
  width: 100%;
}
.until-the-curtain-falls table .td-fill-black {
  background-color: #191813;
  padding: none;
  margin: none;
}
.until-the-curtain-falls input[type=text] {
  border: 1px solid #191813;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #191813;
  background-color: #EEEFFF;
}
.until-the-curtain-falls i.nullifier {
  transition: filter 0.2s;
  cursor: pointer;
}
.until-the-curtain-falls i.nullifier:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: red;
}
.until-the-curtain-falls .rollable-text {
  transition: color 0.2s;
}
.until-the-curtain-falls .rollable-text:hover {
  cursor: pointer;
  color: red;
}
.until-the-curtain-falls .tooltip .tooltip-text {
  visibility: hidden;
  background-color: #CCC;
  color: #191813;
  text-align: center;
  padding: 5px;
  width: 200px;
  text-transform: capitalize;
  font-family: Kirsty, serif;
  border: 2px solid #191813;
  position: absolute;
  z-index: 9999;
}
.until-the-curtain-falls .tooltip:hover .tooltip-text {
  visibility: visible;
}
.until-the-curtain-falls * .item-card .item-openable {
  cursor: pointer;
}
.until-the-curtain-falls * .item-card .item-header {
  width: 100%;
  display: flex;
}
.until-the-curtain-falls * .item-card .item-header .item-control {
  cursor: pointer;
}
.until-the-curtain-falls * .item-card .item-header .gear-equip-widget {
  margin-right: 10px;
  width: 50px;
}
.until-the-curtain-falls * .item-card .item-header .gear-equip-widget .gear-equipped {
  display: none;
}
.until-the-curtain-falls * .item-card .item-header .gear-equip-widget .gear-equip {
  color: #191813;
}
.until-the-curtain-falls * .item-card .item-header .gear-equip-widget .gear-equip.fade-in {
  color: #191813;
  opacity: 0.7;
  transition: filter 0;
  cursor: pointer;
}
.until-the-curtain-falls * .item-card .item-header .gear-equip-widget .gear-equip.fade-in:hover {
  filter: brightness(1);
  opacity: 0.9;
  color: #191813;
}
.until-the-curtain-falls * .item-card .item-header .gear-equip-widget .gear-equip.fade-out {
  transition: filter 0;
  cursor: pointer;
}
.until-the-curtain-falls * .item-card .item-header .gear-equip-widget .gear-equip.fade-out:hover {
  filter: brightness(0.8);
  opacity: 0.9;
  color: #999;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget {
  margin-right: 10px;
  width: 35px;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container {
  filter: brightness(0.5);
  transition: filter 0.2s;
  cursor: pointer;
  width: auto;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container:hover {
  filter: brightness(1);
  opacity: 0.9;
  color: red;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost {
  display: flex;
  flex-direction: row;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost > * {
  margin-right: 2px;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost > *:last-child {
  margin-right: 0px;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost:last-child {
  margin-right: 0px;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost label {
  height: 15px;
  width: 5px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost label:last-of-type {
  margin-right: 0px;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.until-the-curtain-falls * .item-card .item-header .spell-stress-widget .spell-stress-container .spell-stress-cost label[for$="-0"] i {
  margin-top: 4px;
}
.until-the-curtain-falls * .item-card .item-header .item-name {
  flex-grow: 1;
  margin-right: 10px;
}
.until-the-curtain-falls * .item-card .item-header .item-delete {
  margin-right: 10px;
  width: 15px;
}
.until-the-curtain-falls * .item-card .item-header .item-post {
  width: 15px;
}
.until-the-curtain-falls * .item-card .item-description {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #CCC;
  font-style: italic;
  font-weight: bold;
  text-align: justify;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
.until-the-curtain-falls.actor.pc {
  /*
  *  Elements that can be changed will hint this by dimming and fading a little on hover
  */
  /*
   * Toothradio. Some (eg trauma) are not changeable, hence the option.
   */
  /*
   * Custom Radio
   */
  /*
   * Custom Radio Squared
   */
  /*
   * Checkboxes underscored.
   */
  /*
   * Create Clock
   */
  /*
   * Turf Block
   */
  /*
   * Toothradio single elements
   */
  /*
   * Custom Radio Round
   */
}
.until-the-curtain-falls.actor.pc * img.portrait {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}
.until-the-curtain-falls.actor.pc * .trait-section {
  flex-grow: 1;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-direction: column;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/stresstooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap label:last-of-type {
  margin-right: 0px;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap label[for$="-0"] i {
  margin-top: 4px;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap input {
  display: none;
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/stresstooth-halfgrey.png");
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/stresstooth-red.png");
}
.until-the-curtain-falls.actor.pc * .big-teeth-container .big-teeth-wrap .big-teeth {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-direction: column;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap label {
  height: 50px;
  width: 17px;
  background-image: url("assets/teeth/shorttooth-red.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transition: filter 0.1s;
  cursor: pointer;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap label:last-of-type {
  margin-right: 0px;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap label[for$="-0"] {
  width: auto;
  height: auto;
  background-image: none !important;
  color: #EEEFFF;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap label[for$="-0"] i {
  margin-top: 4px;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap input {
  display: none;
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap input:checked ~ label {
  background-image: url("assets/teeth/shorttooth-grey.png");
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap input:checked + label {
  background-image: url("assets/teeth/shorttooth-red.png");
}
.until-the-curtain-falls.actor.pc * .small-teeth-container .small-teeth-wrap .small-teeth {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.until-the-curtain-falls.actor.pc * .stress-trauma-table th {
  background-color: transparent;
}
.until-the-curtain-falls.actor.pc * .character-stress label[for$="-0"] {
  margin-right: 0px;
}
.until-the-curtain-falls.actor.pc * .tab-content {
  flex-grow: 1;
}
.until-the-curtain-falls.actor.pc * .tab-content .tabs {
  background-color: #191813;
}
.until-the-curtain-falls.actor.pc * .loadout .item-add-popup {
  margin-left: 10px;
}
.until-the-curtain-falls.actor.pc * .loadout .overmax {
  color: red;
}
.until-the-curtain-falls.actor.pc * .loadout .encumbered {
  color: red;
  width: 15px;
  height: 15px;
}
.until-the-curtain-falls.actor.pc * .loadout option {
  color: #191813;
}
.until-the-curtain-falls.actor.pc * .all-character-items {
  border-right: 2px solid #191813;
  border-bottom: 2px solid #191813;
}
.until-the-curtain-falls.actor.pc * .attributes {
  display: flex;
  height: auto;
  flex-direction: column;
  width: 200px;
}
.until-the-curtain-falls.actor.pc * .attributes .attribute {
  border-left: 5px solid #191813;
}
.until-the-curtain-falls.actor.pc * .attributes .attribute:last-child {
  border-bottom: 5px solid #191813;
}
.until-the-curtain-falls.actor.pc * .attributes .skills-container {
  padding-left: 5px;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-label {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container {
  display: flex;
  margin: 3px 0px;
  display: flex;
  /* Hide the browser's default checkbox */
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container label {
  height: 15px;
  width: 15px;
  background-color: #191813;
  vertical-align: middle;
  border: 2px solid #191813;
  border-radius: 24px;
  transition: filter 0.1s;
  cursor: pointer;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container label[for$="-0"] {
  height: 5px;
  width: 5px;
  border-radius: 24px;
  background-image: none !important;
  background-color: red !important;
  margin-right: 0px;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container input {
  display: none;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container input:checked ~ label {
  background-color: #EEEFFF;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container input:checked + label {
  transition: filter 0.1s;
  cursor: pointer;
  background-color: #191813;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container input:checked + label:hover {
  filter: brightness(0.7);
  opacity: 0.7;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container * {
  margin-right: 5px;
}
.until-the-curtain-falls.actor.pc * .attributes .skill-container .fa-circle {
  font-size: 15px;
  color: #444;
}
.until-the-curtain-falls.actor.pc * .coins-wrapper {
  height: auto;
  display: flex;
  align-content: center;
}
.until-the-curtain-falls.actor.pc * .coins-label {
  width: 25%;
  height: auto;
  align-content: center;
  transition: filter 0.1s;
  cursor: pointer;
}
.until-the-curtain-falls.actor.pc * .coins-label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.until-the-curtain-falls.actor.pc * .coins {
  display: flex;
  /* Hide the browser's default checkbox */
  flex-wrap: wrap;
  margin-left: 3px;
  margin-top: 3px;
}
.until-the-curtain-falls.actor.pc * .coins label {
  height: 15px;
  width: 15px;
  background-color: #DAA520;
  vertical-align: middle;
  border: 1px solid #191813;
  transition: filter 0.1s;
  cursor: pointer;
}
.until-the-curtain-falls.actor.pc * .coins label[for$="-0"] {
  margin-right: 0px;
}
.until-the-curtain-falls.actor.pc * .coins label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.until-the-curtain-falls.actor.pc * .coins input {
  display: none;
}
.until-the-curtain-falls.actor.pc * .coins input:checked ~ label {
  background-color: #EEEFFF;
}
.until-the-curtain-falls.actor.pc * .coins input:checked + label {
  background-color: #DAA520;
}
.until-the-curtain-falls.actor.pc * .coins input ~ label {
  margin-right: 3px;
  margin-bottom: 3px;
  transition: filter 0.1s;
  cursor: pointer;
}
.until-the-curtain-falls.actor.pc * .coins input ~ label[for$="0"] {
  border-width: 2px;
}
.until-the-curtain-falls.actor.pc * .coins input ~ label:hover {
  filter: brightness(0.8);
  opacity: 0.9;
}
.until-the-curtain-falls.actor.pc * .coins.coins-hands {
  width: 36px;
}
.until-the-curtain-falls.actor.pc * .coins.coins-stashed {
  width: 190px;
}

/*# sourceMappingURL=blades.css.map */
