// Colors
$lightgray: #CCC;
$gray: #999;
$darkgray: #444;
$red: red;
$almost_black: #191813;
$almost_white: #EEEFFF;
$gold: #DAA520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;

// Transition period for sheet parts that hint what they can do
$transition-period: 0.2s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;

// Imports
@import 'mixin.scss';

& * {
  .name-alias{

    img.portrait{
      max-width: 200px;
      max-height: 200px;
      width: auto;
      height: auto;
    }
  }

  .tab[data-tab]{
    display: none;
    &.active{
      display: block;
    }
  }

  input[type="text"]{
    border: 1px solid $almost_black;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $almost_black;
    background-color: $almost_white;
  }

  // Stress and Trauma

  .big-teeth-section {
    // display: flex;
    // flex-direction: row;

    > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }

    &:last-child {
      margin-right: 0px;
    }

    // Stress
    .big-teeth-container {
      .big-teeth-wrap {
        @include toothradio(17px, 50px, "assets/teeth/stresstooth-halfgrey.png", "assets/teeth/stresstooth-red.png");
        flex-direction: column;

        .big-teeth {
          display: flex;
          flex-direction: row;
          margin-left: 10px;
        }
      }
    }

    /* Trauma */
    .small-teeth-container {
      .small-teeth-wrap {
        @include toothradio(17px, 50px, "assets/teeth/shorttooth-grey.png", "assets/teeth/shorttooth-red.png");
        flex-direction: column;

        .small-teeth {
          display: flex;
          flex-direction: row;
          margin-left: 10px;
        }
      }
    }
  }

  .stress-trauma-table {
    background-color: transparent;
    table-layout: fixed;
    margin-top: 0;
    border: none;
    
    thead {
      background-color: transparent;
      padding-top: 0;
      border: none;

      th {
        background-color: transparent;
        padding-top: 0;
        margin-top: 0;
      }
    }
  }

  .character-stress {
    label {
      &[for$="-0"] {
        margin-right: 0px;
      }
    }
  }

  .loadout {
    .item-name {
      width: 100px;
    }

    .item-body {
      width: auto;
    }

    .item-description {
      width: 260px;
    }

    .item-add-popup {
      margin-left: 10px;
    }

    .overmax {
      color: $red;
    }
    
    .encumbered {
      color: $red;
      width: 15px;
      height: 15px;
    }

    .loadout-tooltip {
      .loadout-tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: $almost_black;
        color: $almost_white;
        text-align: center;
        padding: 5px;
        border-radius: 6px;

        // Position
        position: absolute;
        z-index: 9999;
      }

      &:hover .loadout-tooltiptext {
        visibility: visible;
      }
    }

    option {
      color: $almost_black;
    }

    .gear-equip {
      color: $almost_black;
      cursor: pointer;
    }

    .gear-equip-disabled {
      color: $almost_black;
    }

    .gear-equipped {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }

  // Experience teeth
  .teeth-experience {
    @include toothradio(10px, 30px, "assets/teeth/stresstooth-halfgrey.png", "assets/teeth/stresstooth-red.png");
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .harm-armor {
    display: flex;

    // Harm
    .character-harm {
      width: 100%;

      table {
        width: 100%;
        background-color: transparent;
        table-layout: fixed;
        border: none;

        thead {
          border: none;
        }

        th {
          text-transform: uppercase;
          background-color: $almost_black;
          color: $almost_white;
          text-align: left;
          border: none;
        }

        th:first-child {
          padding-left: 10px;
        }

        .harm-text-td {
          vertical-align: center;
          padding-top: 2px;
        }

        .harm-text {
          text-transform: uppercase;
          font-weight: bold;
          background-color: $gray;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 4px;
          padding-bottom: 4px;
          position: relative;
          vertical-align: center;
        }

        input[type="text"] {
          width: 100%;
        }
      }
    }

    .character-armor-uses {

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .td-fill {
    background-color: $almost_black;
    padding: none;
    margin: none;
  }


  .attributes {

    display: flex;
    flex-direction: column;
    width: 200px;

    .stripe {
      background-color: $almost_black;
      color: $almost_white;
      font-size: 17px;
      padding-left: 5px;
    }

    .attribute-label,
    .attribute-skill-label {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .attributes-exp {

      position: relative;
      margin-bottom: 10px;

      .stripe-tooth-body {
        @include toothradio(10px, 30px, "assets/teeth/xptooth-white.png", "assets/teeth/xptooth-red.png");
        position: absolute;
        top: 0px;
        right: 0px;
      }
    }

    .attributes-container {
      display: flex;
      margin: 3px 0px;
      @include custom_radio(15px, 15px);

      * {
        margin-right: 5px;
      }

      // want to color generic fa-circle gray and resize for class attributes
      .fa-circle {
        font-size: 15px;
        color: $darkgray;
      }
    }

    //Tooltip.
    .attributes-tooltip {

      .attributes-tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: $almost_black;
        color: $almost_white;
        text-align: center;
        padding: 5px;
        border-radius: 6px;

        // Position
        position: absolute;
        z-index: 9999;
      }

      &:hover .attributes-tooltiptext {
        visibility: visible;
      }
    }
  }

  // representation of Item on a character sheet
  .item-block {
    .item-openable {
      cursor: pointer;
    }
    
    // item header generally consists of name + controls
    .item-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .item-name {
        width: auto;
        margin-right: auto;
        flex-grow: 10;
      }

      .item-control {
        cursor: pointer;
        flex-grow: 1;
      }

      .spell-stress-cost {
        cursor: pointer;
        display: flex;
        flex-direction: row;

        > * {
          margin-right: 2px;

          &:last-child {
            margin-right: 0px;
          }
        }

        &:last-child {
          margin-right: 0px;
        }

        label {
          cursor: pointer;
          & {
            height: 15px;
            width: 5px;
            background-image: url("assets/teeth/stresstooth-red.png");
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 5px;
        
            &:last-of-type {
              margin-right: 0px;
            }
            &[for$="-0"] {
              width: auto;
              height: auto;
              background-image: none !important;
              color: $almost_white;

              i {
                margin-top: 4px;
              }
            }
          }
        }

      }
    }

    .item-description {
      display: inline-block;
      width: auto;
      height: auto;
      background-color: $lightgray;
      font-style: italic;
      font-weight: bold;
      text-align: justify;
      padding-top: 5px;
      padding-right: 5px;
      padding-left: 5px;
    }

    
  }

  .trait-section {
    flex-grow: 4;

    input[type="text"] {
      width: 100%;
    }

    table {
      width: 100%;
      background-color: transparent;
      border: none;
      table-layout: fixed;
    }

    .trait-block {
      width: 100%;
    }
  }

  .tabs {
    background-color: $almost_black;
  }

  // generic bounding box for character sheet elements
  .bounding-box {
    border: 2px $almost_black;
  }

  .name,
  .lair,
  .epithet {
    margin-bottom: 10px;
  }

  @import "coins.scss";
}
