$coin_size: 15px;
$coin_margin: 3px;

// Transition period for sheet parts that hint what they can do
$transition-period: 0.1s;
$hover-opacity: 0.9;
$hover-brightness: 0.8;

.coins-wrapper {
  height: auto;
  display: flex;
  align-content: center;
}

.coins-label {
  width: 25%;
  height: auto;
  align-content: center;
  @include changeable($transition-period, $hover-brightness, $hover-opacity);
}

.coins {
  @include custom_radio_square($coin_size);
  flex-wrap: wrap;
  margin-left: $coin_margin;
  margin-top: $coin_margin;

  input ~ label {
    margin-right: $coin_margin;
    margin-bottom: $coin_margin;

    &[for$="0"] {
      border-width: 2px;
    }

    @include changeable($transition-period, $hover-brightness, $hover-opacity);
  }

  &.coins-hands {
    width: 36px;
  }

  &.coins-stashed {
    width: 190px;
  }

}
