// Add Items modal styling.
.items-to-add {
  background-color: white;
  overflow-y: scroll;

  input[type="radio"],
  input[type="checkbox"] {
    display: none;

    & + label {
      padding-bottom: 2px;
      text-transform: capitalize;
      font-family: Kirsty, serif;
    }

    &:checked + label {
      font-weight: bold;
    }
  }
}

.dialog-window {
  max-height: 300px;
  overflow: hidden;
}

.roll-dialog-window {
  min-width: 400px;
}

.dialog-content {
  background-color: white;
  height: 100%;
  overflow: hidden;

  h2 {
    text-transform: capitalize;
    font-family: Kirsty, serif;
    color: $almost-black;
  }
}

.dialog-buttons {
  background-color: white;

  .dialog-button {
    text-transform: capitalize;
    font-family: Kirsty, serif;
  }
}

.dialog-form {
  text-transform: capitalize;
  font-family: Kirsty, serif;
  padding: 5px;
  color: $almost-black;
  overflow: hidden;

  label {
    color: $almost-black;

    &.label-red {
      color: $red;
    }
  }

  button {
    text-transform: capitalize;
    font-family: Kirsty, serif;
    color: $almost-white;
    background-color: $darkgray;
  }

  input[type="text"] {

    &::placeholder {
      color: $lightgray;
    }
  }

  select {
    color: $almost-white;
  }
}
