// Colors
$lightgray: #CCC;
$gray: #999;
$darkgray: #444;
$red: red;
$almost_black: #191813;
$almost_white: #EEEFFF;
$gold: #DAA520;
$green: #008000;
$light_green: #12a012;
$blue: #04578f;

& * {
  .actor-card,
  .item-card {
    .actor-openable,
    .item-openable {
      cursor: pointer;
    }

    .item-header {
      width: 100%;
      display: flex;

      .item-control {
        cursor: pointer;
      }

      .gear-equip-widget {
        margin-right: 10px;

        // force the widget to be full-width to keep labels aligned
        width: 50px;

        .gear-equipped {
          // hide the input box
          display: none;
        }

        .gear-equip {
          color: $almost_black;

          &.fade-in {
            color: $almost_black;
            opacity: .7;
            @include changeable(0, 1, $hover-opacity, $almost_black);
          }

          &.fade-out {
            @include changeable(0, $hover-brightness, $hover-opacity, $gray);
          }
        }
      }

      .spell-stress-widget {
        margin-right: 10px;

        // force the widget to be 4 stress boxes wide to keep labels aligned
        // may need to adjust if higher-cost spells are created
        width: 35px; 

        .spell-stress-container {
          filter: brightness(.5);
          @include changeable($transition-period, 1, $hover-opacity, $red);
          width: auto;

          .spell-stress-cost {
            display: flex;
            flex-direction: row;

            > * {
              margin-right: 2px;

              &:last-child {
                margin-right: 0px;
              }
            }

            &:last-child {
              margin-right: 0px;
            }

            label {
              & {
                height: 15px;
                width: 5px;
                background-image: url("assets/teeth/stresstooth-red.png");
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 5px;
            
                &:last-of-type {
                  margin-right: 0px;
                }
                &[for$="-0"] {
                  width: auto;
                  height: auto;
                  background-image: none !important;
                  color: $almost_white;

                  i {
                    margin-top: 4px;
                  }
                }
              }
            }
          }
        }
      }

      .item-name {
        flex-grow: 1;
        margin-right: 10px;
      }

      .actor-delete,
      .item-delete {
        margin-right: 10px;
        width: 15px;
      }

      .item-post {
        width: 15px;
      }
    }

    .item-description {
      display: inline-block;
      width: 100%;
      height: auto;
      background-color: $lightgray;
      font-style: italic;
      font-weight: bold;
      text-align: justify;
      padding-top: 5px;
      padding-right: 5px;
      padding-left: 5px;
    }
  }
}