<div id="character-{{_id}}-coins-hands" class="flex-horizontal">
  <div class="black-label-large-left coins-label-container">
    <label for="coins-{{_id}}-hands-0">{{localize "UTCF.Coin"}}</label>
  </div>
  <div class="coins-wrapper">
    <div class="coins coins-hands">
      {{#multiboxes system.coins}}
      <input type="radio" id="coins-{{_id}}-hands-0" name="system.coins" value="0" checked="checked">
      <input type="radio" id="coins-{{_id}}-hands-1" name="system.coins" value="1">
      <label for="coins-{{_id}}-hands-1"></label>
      <input type="radio" id="coins-{{_id}}-hands-2" name="system.coins" value="2">
      <label for="coins-{{_id}}-hands-2"></label>
      <input type="radio" id="coins-{{_id}}-hands-3" name="system.coins" value="3">
      <label for="coins-{{_id}}-hands-3"></label>
      <input type="radio" id="coins-{{_id}}-hands-4" name="system.coins" value="4">
      <label for="coins-{{_id}}-hands-4"></label>
      {{/multiboxes}}
    </div>
  </div>
</div>